<table>
	<tr>
		<th>Name</th>
		<th>Description</th>
		<th>Cost</th>
		<th>Stock</th>
		<th></th>
		<th></th>
		<th></th>
	</tr>  
  <%= render :partial => 'item', :collection => @products, :spacer_template=>'hr' %>
</table>